@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-pink-950;
}

article {
  @apply mt-4;
  @apply mb-6;
}

section {
  @apply py-3 my-3 border-y;
}
section + section {
  @apply border-t-0;
}
h1 + section {
  @apply border-t-0;
}

article h1:first-child {
  @apply font-bold;
  @apply pb-4 mb-8 border-b w-fit;
}

h1,
h2 {
  @apply mt-4;
}
h3,
h4 {
  @apply mt-3;
}

h1 {
  @apply text-4xl font-semibold text-pink-600;
  @apply mb-2;
}

h2 {
  @apply text-3xl font-semibold text-pink-500;
  @apply mb-2;
}

h3 {
  @apply text-2xl font-semibold text-pink-400;
  @apply mb-1;
}
h3 a {
  @apply text-pink-400;
}

h4 {
  @apply text-lg font-bold text-pink-400;
  @apply mb-0.5;
}

code {
  @apply font-code;
}

b {
  @apply text-pink-500;
}

p {
  @apply my-2;
}

a {
  @apply text-pink-300;
  @apply hover:text-violet-600;
  @apply transition-colors duration-500 ease-in-out;
}
a:hover {
  @apply duration-200;
}
a:active {
  @apply text-violet-800;
  @apply transition-none;
}

ul {
  @apply list-disc;
  @apply pl-4;
}
nav ul {
  @apply list-none;
}
nav ul li {
  @apply list-none;
}
nav ul li ul {
  @apply border-l;
  @apply list-none;
}
#menu a {
  @apply text-pink-400;
}
#menu a:hover {
  @apply text-violet-500;
}
#menu a:active {
  @apply text-violet-800;
}

blockquote {
  @apply text-pink-300;
  @apply border-pink-800;
  @apply border-l-4;
  @apply pl-4;
  @apply font-organic;
  @apply font-semibold;
}

blockquote b {
  @apply text-pink-500;
}

.author {
  @apply text-pink-400;
  @apply float-right;
  @apply not-italic;
}

/* Hidden by default on mobile */
@media (max-width: 768px) {
  aside {
    transform: translateX(-100vw);
    transition: transform 0.3s ease-in-out;
  }
  aside.active {
    transform: translateX(0);
  }

  #main-content {
    transform: translateX(100vw);
    transition: transform 0.3s ease-in-out;
  }
  #main-content.active {
    transform: translateX(0);
  }

  #menu-toggle {
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
  }
  #menu-toggle.active {
    transform: rotate(90deg);
  }
  /*#menu-toggle div {
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
  }
  #menu-toggle.active div {
    transform: rotate(-91deg);
    transition: transform 0.3s ease-in-out;
  }*/
}

.hover-trigger {
  z-index: 10;
}

.hover-trigger:hover .hover-target {
  display: block;
  max-width: 100rem;
  height: auto;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 20;
}

.glow-effect {
  @apply transition-colors duration-1000 ease-in-out;
}

.glow-effect:hover {
  color: #ff0000;
  text-shadow:
    0 0 10px #dc143c,
    0 0 20px #ff4500,
    0 0 30px #8b0000,
    0 0 40px cyan;
}
